{{yield}}
<p>ID: {{@model.id}}</p>
<p>Vanity Embed Enabled: {{@model.vanity_embed}}</p>
<p>Username: {{@model.username}}</p>
<p>Email: {{@model.email}}</p>
<p>Registered On: {{@model.created_at_nice}}</p>