{{yield}}
<h4>Email Verification</h4>
{{#if this.errormsg}}
    <BsAlert
        @visible={{true}}
        @fade={{true}}
        @type="danger"
        @dismissible={{false}}
    >
        {{this.errormsg}}
    </BsAlert>
{{/if}}
{{#if this.successmsg}}
    <BsAlert
        @visible={{true}}
        @fade={{true}}
        @type="success"
        @dismissible={{false}}
    >
        {{this.successmsg}}
    </BsAlert>
{{/if}}
<p>An confirmation email was sent to {{@user.email}}. You can request another one or change your email.</p>
<BsButton @defaultText="Resend Verification Email" @pendingText="Sending Email..." @onClick={{action "resend_verification"}} @type="success"></BsButton>
<BsButton @onClick={{action "open_change_dialog"}} @type="primary">Change Email</BsButton>

<BsModal
  @open={{this.change_email_dialog_open}}
  @onHidden={{action (mut this.change_email_dialog_open) false}} as |modal|
>
    <modal.body>
        <p>Changing emails is not available yet! Please DM applebee#9292 with your account info to request a manual change!</p>
    </modal.body>
    <modal.footer>
        <BsButton @onClick={{action (mut this.change_email_dialog_open) false}}>Close</BsButton>
    </modal.footer>
</BsModal>
