{{yield}}
{{this.get_desc}}
<br />
<BsButton @type="info" @onClick={{action "saveconfig"}}>Save ShareX Config</BsButton>
<BsButton @type="danger" @onClick={{action "toggle_delete"}}>Delete ShareX Config</BsButton>
<BsModal
  @open={{this.delete_confirm_open}}
  @onHidden={{action (mut this.delete_confirm_open) false}} as |modal|>
  <modal.header>
    <h4 class="modal-title">
      Confirmation
    </h4>
  </modal.header>
  <modal.body>
    <label>
      <p>Are you sure you want to delete this config? THIS ACTION IS IRREVERSIBLE</p>
    </label>
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action (mut this.delete_confirm_open) false}}>Cancel</BsButton>
    <BsButton @onClick={{action "delete_config"}} @type="danger">Delete</BsButton>
  </modal.footer>
</BsModal>
