{{page-title "Dashboard"}}
<div class="dashboard-body">
    {{#if @model.verified}}
        <BsAlert @type="success">
            <strong>Welcome!</strong> You are currently logged in as {{@model.username}}
        </BsAlert>
        
        <BsTab as |tab|>
            <tab.pane @title="Share X Configs">
                <SharexConfigHolderModal />
            </tab.pane>
            <tab.pane @title="Account Information">
                <AccountSettings @model={{@model}} />
            </tab.pane>
        </BsTab>
        
    {{else}}
        <EmailVerificationPending @user={{@model}} />
    {{/if}}
</div>
{{outlet}}